*{
    margin: 0;
    padding: 0;

}


h2{
    font-family: 'Baloo Bhaijaan 2', cursive;
}
p{
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-family: 'Bree Serif', serif;   
}

.navbar::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 7%;
    z-index: -1;
    background-color: rgb(98, 174, 245);
    top: 0%;
    left: 0%;
}
.logo{
    display: inline-block;
    margin: 10px;
}

.navbar ul{
    left: 15%;
    top: 2%;
    display: flex;
    position: absolute;
    
}
.navbar li{
    list-style: none;
}
.navbar li a{
    text-decoration: none;
    color: white;
    padding: 10px 36px;
    font-family: 'Bree Serif', serif;
}

.navbar ul li a:hover{
    background-color: #072227;
    border-radius: 10px;
}


/* heading */

.heading::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 88%;
    /* background-size: cover; */
    z-index: -1;
    background:url('../img/pexels-pixabay-270348.jpg');
    top: 7%;
    left: 0%;
    border-bottom: 11px solid black;


}

.heading{
    text-align: center;
}
.heading h2{
    margin-top: 15%;
    font-size: 500%;
    animation-name: heading;
    animation-duration:5s;  
    color: lightblue;
    /* background-color: cyan; */
}
.heading h3{
    color: white;
    display: inline-block;
    animation-name: headingpara;
    animation-duration:5s;   
    text-decoration: none;
    /* font-size: 200%; */
}
.heading a{
   text-decoration: none;

}
.mypic{
    width: 15%;
    position: absolute;
    left: 44%;
    top: 37%;
    animation-name: profilepic;
    animation-duration:5s; 
    
}

@keyframes profilepic{
    0% {opacity: 0%;}
    30% {opacity: 30%;}
    60% {opacity: 60%;}
    100% {opacity: 100%;}
}

@keyframes headingpara {
  0%   {background-color: rgb(0, 0, 0);}
  0%   {font-size: 0%;}
  20%  {background-color: rgb(53, 53, 53);}
  25%  {background-color: rgb(82, 81, 81);}
  30%  {background-color: rgb(109, 109, 109);}
  100% {background-color: rgb(153, 140, 140);}

}
@keyframes heading {
 0% {color: rgb(255, 255, 255);}
 50% {color: rgb(130, 255, 255);}
 100% {color: rgb(0, 255, 255);}
}




 /* Body 1 */

 .skillstar_img{
     width: 4%;
     position: absolute;
     top: 119%;
     left: 14%;
     z-index: 1;
 }
 

 .Skills-h2{

    position: absolute;
    top: 97%;
    border: 5px solid red;
    left: 2%;
    width: 30%;
    text-align: center;
    height: 30%;
    background: rgb(98, 174, 245);
 }
 .Skills-1{
    position: absolute;
    top: 103%;
    left: 4%;
    font-size: 113%;
}
 .Skills-2{
    position: absolute;
    top: 108%;
    left: 4%;
    width: 21%;
    font-size: 113%;
}
 .Skills-3{
    position: absolute;
    top: 114%;
    left: 4%;
    width: 21%;
    font-size: 113%;
}
/* MySelf */

.myselfman_img{
    width: 4%;
    position: absolute;
    top: 118%;
    left: 49%;
    z-index: 1;
    
}


 .MySelf-h2{

     position: absolute;
    top: 97%;
    border: 5px solid red;
    left:35%;
    width: 30%;
    text-align: center;
    height: 30%;
    background: darkturquoise;
 }
 .MySelf p{
    position: absolute;
    top: 103%;
    left: 37%;
    width: 29%;
    font-size: 113%;
}

 /* MoreAboutMe */

 .plus_img{
    width: 4%;
    position: absolute;
    top: 118%;
    left: 84%;
    z-index: 1;
}
 
 .MoreAboutMe-h2{
    /* position: absolute;
    top: 97%;
    left: 10%; */
    position: absolute;
   top: 97%;
   border: 5px solid red;
   left:69%;
   width: 30%;
   text-align: center;
   height: 30%;
   background: royalblue;
}

.MoreAboutMe p{
    position: absolute;
    top: 103%;
    left: 70%;
    font-size: 113%;
}


.body_2::before{
    content: "";
    position: absolute;
    width: 100%;
    top: 95%;
    height: 33%;
    background: aqua;
    border-top: 10px solid black;
    border-bottom: 10px solid black;

}



/*@media only screen and (max-width: 3000px) and (min-width: 2200px)  {...} */
 @media only screen and (min-width: 2200px) { 
    .heading::before{
        background-repeat: repeat; 
    }

    .navbar li a {
        font-size: 2em;
    }

    .logo{
        width: 19%;
    }

    .heading h3 {
        font-size: 3rem;
    }

    .Skills-1,.Skills-2,.Skills-3,.Skills-h2 {
        font-size: 2rem;
    }

    .MySelf p,.MySelf-h2 {
        font-size: 2rem;
    }

    .MoreAboutMe p,.MoreAboutMe-h2 {
        font-size: 2rem;
    }
}
























